@font-face{
    font-family: GeforceB;
    src: url(../FontFamily/GeForce/Geforce\ Bold.ttf);
}

@font-face{
    font-family: GeforceL;
    src: url(../FontFamily/GeForce/Geforce\ Light.ttf);
}

body{
    color: white;
    background: linear-gradient(to right, #000000, rgb(9, 65, 110));
    font-family: GeforceL,Helvetica,Arial,Sans-Serif;
}

/*? HEADER */

header{
    position: fixed;
    width: 100%;
    z-index: 100;
}

.nav1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}

.sebpolpier{
    display: block;
    width: 120px;
    text-decoration: none;
    margin: 10px 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
    transition: all 0.4s;
}

.sebpolpier:hover{
    box-shadow: 4px 4px 4px rgb(34, 111, 173,0.7);
}

.login {
    padding: 10px 40px;
}

.login a{
    text-decoration: none;
    font-family: GeforceB;
    font-size: 25px;
    color: rgb(34, 111, 173);
    transition: all 0.4s;
}

.login a:hover{
    color:  rgb(1, 144, 125);
}

.login a:active{
    color: rgb(1, 144, 125,0.6);
}

nav{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
}

nav ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    text-align: center;
}

nav ul li{
    margin: 5px;
    padding: 5px 30px;
    width: 200px;
}

nav ul li a{
    display: block;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    transition: all 0.2s;
}

nav ul li a i{
    padding-right: 10px;
}

nav ul li a:hover{
    background: rgb(34, 111, 173);
}

nav ul li a:active{
    background: rgb(34, 111, 173,0.7);
}

.ham{
    display: none;
}

.subnav{
    display: none;
    margin: 10px;
    width: 200px;
    position: absolute;
    background: rgb(0, 0, 0,0.7);
    transition: 0.4s;
    animation: showSubnav 350ms ease-in-out both;
}

.products:hover > .subnav{
    display: flex;
    flex-direction: column;
}

@keyframes showSubnav{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes quitSubnav{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}



/* .header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    min-width: 250px;
    display: block;
    font-size: 16px;
    transition: top .5s;
}

.nomEmpresa{
    height: 44px;
    width: 100%;
    font-size: 30px;
    background: white;
    color:  rgb(0, 0, 0);
}

.nomEmpresa_div{
    max-width: 1280px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.marca{
    height: 44px;
    float: left;
}

.marca img{
    display: inline-block;
    height: 44px;
}

.login .Bienvenido{
    height: 44px;
}

.Bienvenido{
    display: flex;
}

.login a{
    text-decoration: none;
    color: rgb(34, 111, 173);
    font-size: 25px;
    font-family: GeforceB;
}

.login a:hover{
    color:  rgb(1, 144, 125);
}

.login a:active{
    color: rgb(1, 144, 125,0.6);
}

.Bienvenido_div a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.Bienvenido_div{
    padding: 3px;
    margin-right: 30px;
}

.icon{
    top: 0;
    line-height: 40px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 30px;;
}

.icon i{
    font-size: 25px;
}

.icon span{
    color: #fff;
    font-size: 13px;
    position: absolute;
    top: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 20px;
    font-weight: 400;
    background: #ff9300;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.Bienvenido_div:hover > a{
    color: rgb(82, 159, 223);
}

.Bienvenido_div:active > a{
    color: rgb(138, 255, 239);
}

.Bienvenido h2{
    padding-top: 8px;
    color: #000000;
    font-size: 25px;
    font-family: GeforceB;
}

.cerrarSesion{
    color: #ff0000;
    text-decoration: none;
}

.user{
    color: rgb(34, 111, 173);
}

.cerrarSesion:hover{
    color:  rgb(1, 144, 125);
}

.cerrarSesion:active{
    color: rgb(34, 111, 173);
}

.nav__responsive-ul{
    display: none;
}

.nav{
    background: rgb(0, 0, 0);
}

.nav__ul div{
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    font-size: 20px;
}

.nav__li{
    display: inline-block;
    padding: 12px;
    color: white;
}

.pad0{
    padding-left: 0px;
}

.nav__li a{
    text-decoration: none;
    color: white;
}

.nav__li i{
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
    width: 30px;
}

.nav__li:hover > a{
    color: rgb(115, 192, 255);
}

.nav__li:hover > i{
    color: rgb(115, 192, 255);
}

.nav__li:active > a{
    color: rgba(138, 255, 239);
}

.nav__li:active > i{
    color: rgba(138, 255, 239);
}

.nav__responsive-button-container{
    position: absolute;
    width: 100%;
    font-size: 25px;
    background: rgb(0, 0, 0);
    margin-top: -64px;
    z-index: 100;
}

.nav__responsive-button{
    padding: 6px 20px;
    float: right;
}

.submenu{
    position: absolute;
    z-index: 1000;
    float: left;
    margin-top: 30px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    top: 56px;
    max-width: 320px;
    padding: 30px;
    padding-top: 11px;
    font-size: 16px;
    border-color: transparent;
    padding-bottom: 11px;
    transition: .25s ease-out;
    visibility: hidden;
}

.submenu a{
    color: black;
    font-size: 20px;
}

.submenu_li:hover > a{
    color: rgb(1, 144, 125);
}

.submenu_li:active > a{
    color: rgb(34, 111, 173);
}

.product:hover > .submenu{
    visibility: visible;
} */

/*? FOOOTER */

.global_footer{
    background-color: white;
    color: black;
    height: 100%;
}

.global_footer_div{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.div_img img{
    width: 125px;
    height: 50px;
    margin: 0 auto;
    display: block;
    float: left;
    margin-bottom: 15px;
}

.region{
    height: 50px;
    text-align: center;
    float: right;
    margin-bottom: 15px;
}

.region a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: GeforceB;
}

.nav_privacidad{
    font-size: 20px;
    list-style-type: none;
    clear: both;
    margin-bottom: 15px;
}

.nav_priv_li{
    display: inline-block   ;
    padding: 12px;
    color: black;
}

.li{
    padding-left: 0px;
}

.nav_priv_li a{
    text-decoration: none;
    color: black;
    display: inline-block;
    height: 44px;
    font-size: 44px;
}

/*? RESPONSIVE */

@media only screen and (max-width: 550px){
    .Bienvenido h2{
        padding-top: 12px;
        font-size: 18px;
    }
}

@media screen and (max-width: 395px){
    .Bienvenido h2{
        padding-top: 3px;
        text-align: right;
        font-size: 18px;
    }
}

@media only screen and (max-width: 600px){
    .nav__ul{
        display: none;
    }
    .nav{
        height: 37px;
        width: 100%;
    }
    .nav__responsive-ul{
        display: block;
        position: absolute;
        width: 100%;
        padding: 0;
        margin-top: 37px;
        padding-top: 27px;
        height: 37px;
    }
    .nav__li-container{
        position: relative;
        top: -1000px;
        height: calc(100vh-64px);
        background: rgb(0, 0, 0);
        transition: all 1s;
        z-index: 1;
    }
    .nav__responsive-li{
        list-style: none;
        padding: 9px 20px;
    }
    .nav__responsive-li i{
        box-sizing: border-box;
        text-align: center;
        margin-right: 5px;
        width: 30px;
        color: white;
    }
    .nav__responsive-li a{
        color: white;
        text-decoration: none;
    }
    .nav__responsive-ul:hover > .nav__li-container{
        top: -27px;
    }
    .submenu{
        margin-top: 55px;
        margin-left: 110px;
    }
    .submenu a{
        color: black;
        font-size: 20px;
    }
    .submenu_li:hover > a{
        color: rgb(1, 144, 125);
    }
    .submenu_li:active > a{
        color: rgb(34, 111, 173);
    }
    .submenu{
        padding: 10px;
    }
}

@media only screen and (max-width: 300px){
    .esp{
        padding: 5px;
    }
}