@font-face{
    font-family: GeforceB;
    src: url(../FontFamily/GeForce/Geforce\ Bold.ttf);
}

@font-face{
    font-family: GeforceL;
    src: url(../FontFamily/GeForce/Geforce\ Light.ttf);
}

body{
    color: white;
    background: linear-gradient(to right, #000000, rgb(34, 111, 173));
    font-family: GeforceL,Helvetica,Arial,Sans-Serif;
}

input {
    outline: none;
    border: none;
}

.container_login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.login{
    width: 400px;
    background: #eceff1;
    border-radius: 20px;
    overflow: hidden;
    padding: 55px;
}

.loginform_titulo{
    display: block;
    font-size: 38px;
    color: rgb(34, 111, 173);
    line-height: 1.5;
    text-align: center;
    font-family: GeforceB;
}

.loginform{
    width: 100%;
}

.div_input{
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.input{
    font-size: 25px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}

.submit{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.submit_div{
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 40px 5px;
    overflow: hidden;
    margin: 0 auto;
}

.button{
    background: linear-gradient(to right, #000000, rgb(34, 111, 173));
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    font-family: GeforceB;
    transition: all .5s;
}

.button:hover{
    background: linear-gradient(to right, rgb(34, 111, 173), #000000);
}

.button:active{
    color: rgb(4, 247, 255);
}

.regtext_p{
    color: #000000;
    text-align: center;
    margin-top: 15px;
}

.regtext_p a{
    text-decoration: none;
    font-family: GeforceB;
    color: rgb(34, 111, 173);
}

.regtext_p a:hover{
    color: rgb(0, 255, 191);
}

.regtext_p a:active{
    color: rgb(0, 161, 121);
}

.error{
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.719);
    text-align: center;
    color: #000000;
    margin-top: 15px;
    color: rgb(255, 0, 0);
    font-family: GeforceB;
    margin: 15px;
}



